@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav{
    text-align:center;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 35px;
}
#hero-msg h1{
    text-align: center;
}
#hero-msg {
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
}
body{
    background-color: #fcfbfb;
    font-family: 'Comfortaa', cursive, Tahoma ;
    font-size: 22px;
    margin: 0;
    padding: 0;

}
h2{
    margin: 0;
}
header{
    background-color: rgb(42, 107, 37);
}
nav a:hover {
    background-color: rgb(2, 24, 2);
    color: white
}
.book{
    background-color: transparent;
    color: black;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join{
    background-color: transparent;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover{
    background-color: rgb(0, 255, 64);
    color: black;
}
.join:hover{
    background-color: rgb(0, 255, 64);
    color: black;
}
#background{
    background-color: rgb(22, 56, 19);
}
.msg{
    background-color: rgb(42, 107, 37);
    line-height: 1.5em;
    padding: 35px;
}
.msg h2{
    color: white;

    
}
.msg p{
    color: white;
    padding-bottom: 15px;
}
footer{
    background-color: rgb(42, 107, 37);
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title{
    color: black;
    margin-top: 10px;

}
h1.home-title{
    font-family: 'Covered By Your Grace', cursive;
    font-size: 2em;
}
h4{
    background-color: transparent;
}

footer h3{
    color: white;
}
footer a{
    color: white;
    text-decoration: none;
    
}
footer a:hover{
    color: white;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img{
    width: 100%;
}
footer h3 a:hover{
    text-decoration: underline;
}
#logo_link{
    padding-top: 5px;
}
footer.social img{
    padding-top: 15px
}
.rivers-card{
    margin: 200px 0;
}
.camping-card{
    margin: 200px 0;
}
.rapids-card{
    margin: 200px 0;
}
.card-img{
    border: 10px solid grey;
}
main section img{
    box-sizing: border-box;
}